
{{ define "main" }}

<link rel="stylesheet" href="iconicss.min.css">
<h2 style="color: white;" class="list-recent-projects">Recently Updated oneAPI Projects</h2>
<div class="projectgrid-recent-container">
  {{range partial "return-recent-github-projects.html" . }}
   	<div class="projectgrid-recent-items">
      {{ $cur_github_url := .html_url}}
      {{ $cur_date_repo := .updated_at }}
        {{ $repoimage := replaceRE `(https://github.com)` "https://opengraph.githubassets.com/6437" $cur_github_url }}
      <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
               <a href="{{ $cur_github_url }}"> <img src={{ $repoimage }}> </img> </a>
          </div>
          <div class="flip-card-back">
          <h3> This project is great for:</h3>
          <a href="{{ $cur_github_url }}">   </a>
          </div>
        </div>
      </div>
    </div> 
    {{ end }}
</div>

{{ end }}

