{{ define "main" }}
<link rel="stylesheet" href="iconicss.min.css">
<h1>{{ .Title }}</h1>
<ul>
<div class="projectgrid-container">
    {{ range where .Site.RegularPages "Section" "projects" }}
        <div class="projectgrid-box"> <a href="{{ .RelPermalink }}" class="block">
            <header>
                <h3> {{ .Title }} </h3>
                <figure>
                  <img src="/pexels-rahul-716398.jpg" style="width: 15vw; min-width: 130px;"/>
                </figure>
            </header>
            {{.Summary}}
                <div class="comm-bar">
                    <a href="{{.Params.githublink}}"><i class="icss-home"></i></a> 
                </div>
        </div>
    {{ end }}
</div>

{{ end }}

