{{ define "main" }}

<div class="hero-banner">
  <img src="/images/oneapi-project-showcase-banner.svg" alt="oneAPI banner">
</div>


<div class="intro-text">
  <p>Welcome to the oneAPI Community Projects Showcase. Here you can see a cross section of projects that the community has submitted or we have discovered to be projects. The projects are not guaranteed to be updated. </p>

  <p><b> What is oneAPI? </b></p> 
  <p> oneAPI is an open, cross-industry, standards-based, unified, multiarchitecture, multi-vendor programming model that delivers a common developer experience across accelerator architectures – for faster application performance, more productivity, and greater innovation.</p>
  <p> oneAPI consists of a spec and an open source implementation. oneAPI is managed by UXL Foundation and driven the community. See https://uxlfoundation.org/ for more information.


  <p>For a more curated version of the best projects see: <a href="https://github.com/oneapi-community/awesome-oneapi">Awesome oneAPI</a>.</p>

  <p>Have a project that you're interested you'd like to see here? Fork our repo and add your project and submit a pull request.</p>

  <p> <b>DISCLAIMER:</b> The projects showcased here are obtained through github searches and community contributions. If you see your project here and you do not wish to have it displayed - please submit a PR to remove the project or open up an <a href="https://github.com/oneapi-community/oneapi-web-showcase/issues">issue</a>  and we will be happy to remove it. </p>


</div>
<br>
<br>

<div class="project-header-with-button">
	<h2> Recently updated projects &nbsp; &nbsp; <button class="button-link"> <a href="recent-projects"> MORE </a></button></h2> 
</div>


<div class="projectgrid-container">
{{ $sortedRepos := partial "return-recent-github-projects.html" . }}
{{ range $sortedRepos | first 9 }}
  <div class="projectgrid-item">
    <a href="{{ .url }}">
	<img src="{{ .image }}" alt="{{ .name }}">
    </a>
  </div>
{{ end }}
</div>

<br>
<br>

<div class="project-header-with-button">
  <h2> Project List &nbsp; &nbsp; <button class="button-more"> <a href="projects"> MORE </a> </button> </h2> 
</div>
 
<div class="projectgrid-container">
    {{ range (where .Site.RegularPages "Section" "projects").Reverse | first 12 }}
	<div class="projectgrid-item">
                {{ $s := .Params.githublink }}
                {{ if .Params.githublink  }}
                  {{ $repoimage := replaceRE `(https://github.com)` "https://opengraph.githubassets.com/6437" $s }}
                  <span></span> <a href="{{ .Params.githublink }}"> <img src={{ $repoimage }}> </img> </a>
                {{ end }}
        </div>
    {{ end }}
</div>
{{ end }}

