<header>  
    <nav class="navbar" role="navigation">  
        <div class="navbar__left">  
            <a href="/"><strong>{{.Site.Params.sitename}}</strong></a>  
        </div>  
        <div class="navbar__right">  
            <a href="/blog">Blogs</a>  
            <a href="/projects">Projects</a>  
            <a href="https://github.com/oneapi-community/community/discussions">Forum</a>  
            <a href="https://github.com/oneapi-community/community/wiki">Documentation</a>  
        </div>
    </nav>  
</header>
