<header>  
    <nav class="navbar" role="navigation">  
        <div class="navbar__left">  
            <a href="/"><strong>{{.Site.Params.sitename}}</strong></a>  
        </div>  
        <div class="navbar__right">  
      <a href="https://discord.com/invite/zshEBfPnGJ"> <img src=/images/discord-icon-svgrepo-com.svg width=20 height=20 /></a>
            <a href="https://github.com/oneapi-community/community/discussions">Discussions</a>  
            <a href="https://github.com/oneapi-community/documentation">Documentation</a>  
            <a href="https://github.com/oneapi-community/community/wiki/Start-a-Project!">Start a Project!</a>  
        </div>
    </nav>  
</header>
