    {{ $repos := slice }}
    {{ $headers := (dict "Authorization" .Site.Params.githubToken) }}
    {{ $header := "Authorization:Bearer " }}
    {{ $token := .Site.Params.githubToken }}
    {{ $authHeader := printf "%s%s " $header $token }}
    {{ range (where .Site.RegularPages "Section" "projects").Reverse }}
      {{ $s := .Params.githublink }}
      {{ $gh_repo_query_url := replaceRE `(https://github.com)` "https://api.github.com/repos" $s }}
      {{ with getJSON $gh_repo_query_url $headers }}
        {{ $repos = $repos | append . }}
      {{ end }}
    {{ end }}
    {{ $gh_sorted_by_activity := sort $repos "updated_at"  "desc"}}
    {{ return $gh_sorted_by_activity }}
